<!DOCTYPE html>

<title>CommandeDetail index</title>

{% block body %}
    <h1>CommandeDetail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hours</th>
                <th>Price</th>
                <th>Com_createdAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande_detail in commande_details %}
            <tr>
                <td>{{ commande_detail.id }}</td>
                <td>{{ commande_detail.hours }}</td>
                <td>{{ commande_detail.price }}</td>
                <td>{{ commande_detail.comCreatedAt ? commande_detail.comCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('commande_detail_show', {'id': commande_detail.id}) }}">show</a>
                    <a href="{{ path('commande_detail_edit', {'id': commande_detail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commande_detail_new') }}">Create new</a>
{% endblock %}
